<!-- listItems: <%= JSON.stringify(listItems) %> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <title>Book Tracking</title>
</head>
<body>
  <ul class="taskbar">
   
        <a href="/"><li><h2>Home</h2></li></a>
        <li><h2><a href="/add">Add</a></h2></li>
        <li><h2><a href="/edit">Edit</a></h2></form></li>
    </ul>
    <div class="bookbox" id="bookbox">
       <% for(let item of listItems){%>
        <form action="/delete" method="post">
          <input type="checkbox" onchange="this.form.submit()" name="deleteItemId" value="<%= item.id %>">
        </form>

        <div class="item">
        <div class="imagebox">
          <% const coverImage = item.isbn ? `https://covers.openlibrary.org/b/isbn/${item.isbn}-M.jpg` : 'https://covers.openlibrary.org/b/id/12345678-M.jpg'; %>

          <img src="<%= coverImage %>" alt="Book Cover">

        </div>

        <div class="outer-box">
        <div class="inner-box" id="title<%= item.id%>">
          <h3> Book Title: <%= item.title %></h3>
          <h3> Rating: <%= item.rate %></h3>
          <h3> Date: <%= item.book_date %></h3>
          <h3> ISBN: <%= item.isbn %></h3>
          <h3> Note: <%= item.note %></h3>
        </div>
        </div>
        </div>
      <% } %>
  </div>
</body>
</html>